body {
    margin: 1em;
    padding: 1em;
    border: solid 1 px darkgreen;
}

div{
    border: 1 px solid black;

}

header{
    border: 1px solid black;
    margin: 2em;
    text-align: center;
    padding: 2em;
}

main {
    border: 1px solid black;
    margin: 2em;
    text-align: center;
    padding: 2em;
}

footer {
    border: 1px solid black;
    margin: 2em;
    text-align: center;
    padding: 2em;
}